<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionString">
    <providerMappings>
      <add name="MySql.Data.MySqlClient" databaseType="EntLibContrib.Data.MySql.MySqlDatabase, MySqlDAAB" />
    </providerMappings>
  </dataConfiguration>
  
  <connectionStrings>
    <!--<add name="OracleConnectionString" connectionString="Data Source=CONN_shenyi2;User id=hbagxe;Password=hbagxe" providerName="System.Data.OracleClient"/>-->
    <add name="OracleConnectionString" connectionString="Data Source=192.168.1.73/agzs.net;User id=agzsnm;Password=agzsnm" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <!--session定制-->
    <add key="sys_session_user" value="userinfocontainer" />
    <!--登录单位-->
    <add key="fbdwbm" value="370000" />
    <!--登录单位-->
    <add key="DJDWBM" value="370000" />
    
    <!--ftp地址 统一业务-->
    <add key="FtpUrlTYYW" value="192.168.2.147:2033/tyyw" />
    <!--ftp地址 法律法规-->
    <add key="FtpUrlFLFG" value="192.168.2.147:2033/flfg" />
    <!--ftp地址 相关规定-->
    <add key="FtpUrlXGGD" value="192.168.2.147:2033/xggd" />
    <!--ftp地址 自定义-->
    <add key="FtpUrlZDY" value="192.168.2.147:2033/zdy" />
    <!--ftp账号-->
    <add key="FtpAccount" value="administrator" />
    <!--ftp密码-->
    <add key="FtpPassword" value="123" />
    <!--邮箱帐号-->
    <add key="EmailAcount" value="test_20171101@hb.pro" />
    <!--邮箱密码-->
    <add key="EmailPassword" value="Abc12345" />
    <!--邮箱地址-->
    <add key="EmailHost" value="10.42.0.6" />
    <!--邮箱端口-->
    <add key="EmailPort" value="25" />

    <!--ice接口地址-->
    <add key="iceProxy" value="BigDataAppServer/Locator:ws -h 192.168.2.183 -p 12001" />
    <!--不起诉决定书公开-应公开数量-->
    <add key="bqsjdsgs" value="020101[138]-022001[29]" />
    <!--起诉书公开-应公开数量-->
    <add key="qssgkgs" value="020301[81]-022001[44]" />
    <!--刑事抗诉书公开-应公开数量-->
    <add key="xskssgs" value="020401[114]" />
    <!--刑事申诉复查决定书公开-应公开数量-->
    <add key="xsssfcjdsgs" value="070101[34]+070101[35]+070101[36]" />
    
    <!--消息编码-->
    <add key="MsgCode" value="1003000000001" />
    <!--传达编码对人-->
    <add key="ConveyCode4People" value="1003000000003" />
    <!--传达编码对院-->
    <add key="ConveyCode4Unit" value="1003000000004" />
    <!--首页数据项-->
    <add key="HomeCode" value="1004000000001" />
    <!--客户端显示标题-->
    <add key="WinformTitle" value="湖北省检察机关 | 案管助手" />

    <!--ftp地址 统一业务-->
    <add key="UrlTYYW" value="/zsk/tyyw/" />
    <!--ftp地址 法律法规-->
    <add key="UrlFLFG" value="/zsk/flfg/" />
    <!--ftp地址 相关规定-->
    <add key="UrlXGGD" value="/zsk/xggd/" />
    <!--ftp地址 自定义-->
    <add key="UrlZDY" value="/zsk/zdy/" />
    <!--mongodb连接字符串-->
    <add key="MongodbConnectionString" value="mongodb://NAUNHWTKRC8VIY2:27017/" />
    <!--mongodb数据库名称-->
    <add key="MongodbDatabaseName" value="agzs" />
    <!--是否使用mongo-->
    <add key="UseMongodb" value="0" />
    <!--电子卷宗ice接口-->
    <add key="iceProxyDZJZ" value="SPPAppServer/Locator:default -h 10.42.0.210 -p 12000" />
    <!--<add key="iceProxyDZJZ" value="BigDataAppServer/Locator:ws -h 10.42.0.210 -p 65500"/>-->
    <!--<add key="iceProxyDZJZ" value="CaseInfoServer1/default:ws -h 192.168.1.129 -p 65500"/>-->
    <!--电子卷宗文件服务器挂载盘符-->
    <add key="DZJZPF" value="G:/项目/赛威讯/共享磁盘" />
    <!--电子卷宗缓存路径-->
    <add key="DZJZCFLJ" value="WJ\DZJZ" />
    <!--文书缓存路径-->
    <add key="WSCFLJ" value="WJ\WS" />
    <!--文书本地路径-->
    <add key="WSLYLJ" value="E:" />
    <!--文书远程地址-->
    <add key="WSFWDZ" value="" />
    <!--文书访问用户-->
    <add key="WSFWUSER" value="" />
    <!--文书访问服务器密码-->
    <add key="WSFWPASSWORD" value="" />
    <!--电子卷宗ice路径-->
    <add key="DZJZURL" value="http://192.168.2.66:18743/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime maxRequestLength="8512000" maxQueryStringLength="2097150" requestValidationMode="2.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Account/login.htm" name="user_role_sms" defaultUrl="~/index.htm" />
    </authentication>
    <!--session超时限制 60分钟-->
    <sessionState mode="InProc" timeout="60" />
    
    <!--权限配置-->
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="40800000" />
      </requestFiltering>
    </security>
        <!--<staticContent>
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
        </staticContent>-->
  </system.webServer>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <!--<conversionPattern value="%newline %n记录时间：%date %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n"/>-->
        <conversionPattern value="%n记录时间：%date  %n日志级别：%-5level %n出错类：%logger %n单位编码： %property{DWBM}  %n操作人姓名：【%property{OperatorName}】 %n错误描述：%message %n运行信息：%property{RunInfo} %newline %n" />
      </layout>
    </appender>
    <!--定义输出到数据库中-->
    <appender name="AdoNetAppender_MySQL" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <connectionString value="server=192.168.1.29;database=TYYW_29;User Id=sjtj;Password=sjtj;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />
      <commandText value="INSERT INTO YX_RZ_XT (LogDateTime,LogLevel,Logger,Message,Exception,RunInfo,DWBM,OperatorID,OperatorName,OperatorIP)                                          VALUES (@logDate,@logLevel,@logger,@message,@exception,@runInfo,@dwbm,@operatorID,@operatorName,@operatorIP)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@logDate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@logLevel" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout" />
      </parameter>
      <!--自定义列通过重写Ilog接口来增加输入的参数-->
      <parameter>
        <parameterName value="@runInfo" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{RunInfo}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@dwbm" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{DWBM}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OperatorID" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{OperatorID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OperatorName" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{OperatorName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OperatorIP" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{OperatorIP}" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ERROR" />
      <!--数据库形式记录日志-->
      <!--<appender-ref ref="AdoNetAppender_MySQL"/>-->
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="AdoNetAppender_MySQL" />
    </logger>
  </log4net>
  <applicationSettings>
    <Web.Properties.Settings>
      <setting name="Web_IceWebService_IceServer" serializeAs="String">
        <value>http://192.168.2.66:18743/IceServer.asmx</value>
      </setting>
    </Web.Properties.Settings>
  </applicationSettings>
</configuration>
