<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../Script/jquery-easyui-1.4.3/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../../Script/jquery-easyui-1.4.3/themes/icon.css" />
    <link href="../../Style/common.css" rel="stylesheet" type="text/css" />
	<script src="../../Script/jquery-easyui-1.4.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../Script/jquery-easyui-1.4.3/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../Script/jquery.timer.js" type="text/javascript"></script>
    <script src="../../Script/jquery.json-2.3.js" type="text/javascript"></script>
    <script src="../../Script/Extend.js" type="text/javascript"></script>
    <script src="../../Script/kindeditor-4.1.9/kindeditor.js" type="text/javascript"></script>
    <script src="../../Script/Highcharts/js/highcharts.js" type="text/javascript"></script>
    <script src="../../Script/Highcharts/js/highcharts-3d.js" type="text/javascript"></script>
    <link href="../../Script/uploadify/uploadify.css" rel="stylesheet" type="text/css"/>
    <script src="../../Script/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <link href="../../Style/GlobalStyle/mainpage.css" rel="stylesheet" type="text/css"/>
    <link href="../../Style/main.css" rel="stylesheet" type="text/css"/>
    <style id="datagrid-group-style" type="text/css">.datagrid-group{height:25px;overflow:hidden;font-weight:bold;border-bottom:1px solid #ccc;}</style>
	<script type="text/javascript" src="../../Script/common.js"></script>
    <script type="text/javascript" src="../../Script/View/AJXX/JDXM.js"></script>
    <script type="text/javascript" src="../../Script/jquery-easyui-1.4.3/jquery.easyui.plus.js"></script>
</head>
<body>
    <div class='table_jdxm'>
    <table class="trys"></table>
    </div>
<div class="tit_buttom">
			<div class="buttom" onclick="$('#jdxm').window('close');">
				取消
			</div>
			<div class="buttom">
				取消
			</div>
		</div>
</body>
</html>