<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案管知识库-统一业务</title>
    <link rel="stylesheet" type="text/css" href="../../Style/agzsk_home.css"/>
    <!--<link rel="stylesheet" type="text/css" href="jquery-easyui-1.4.3/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.4.3/themes/icon.css">
    <script type="text/javascript" src="jquery-easyui-1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-easyui-1.4.3/jquery.easyui.min.js"></script>-->
</head>
<body>
        <script type="text/javascript">
            BaseFunc.RefshHeadScriptTage("../../Script/View/AGZSK/tyyw.js");
        </script>
    <div class="agzsk_home">
        <div class="agzsk_bg">
            <div class="agzsk_xk" id="agzsk_div">
                
            </div>
        </div>
    </div>
</body>
</html>